* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/open-sans-v34-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff"), url("../fonts/open-sans-v34-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v34-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
body {
  height: 100%;
  line-height: 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  opacity: 0.5;
}

.container {
  max-width: 1220px;
  margin: 15px 0;
}

header {
  height: 100px;
}
header .container {
  height: 100px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  border-bottom: 1px solid navajowhite;
}

.header-list {
  display: flex;
}

.header__item {
  padding-right: 40px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.without-padding {
  padding-right: 0;
}

.test {
  background: #337ab7;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 20px;
  color: black;
}

.logo img {
  height: 82px;
  width: 82px;
  margin-top: 9px;
}