@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/open-sans-v34-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff"), url("../fonts/open-sans-v34-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v34-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
body {
  height: 100%;
  line-height: 22px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

main {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.content .container button span, .header__item_without-padding span {
  color: white;
}

header {
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  z-index: 10000;
  position: fixed;
  background: white;
  width: 100%;
}
header .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.header-list {
  display: flex;
}

.header__item {
  padding-right: 40px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: 100;
  font-size: 14px;
}

.header__item_without-padding {
  padding-right: 0;
}

.application {
  background: #337ab7;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 20px;
  color: black;
}

.logo img {
  height: 82px;
  width: 82px;
  margin-top: 9px;
}

.content {
  background: #f7f7f7;
}
.content .container {
  display: flex;
}
.content .container button {
  border-radius: 25px;
  width: 370px;
  height: 50px;
  background: #337ab7;
  margin-top: 32px;
  margin-left: 110px;
}

.content-left {
  margin-top: 100px;
  max-width: 610px;
  height: 670px;
}
.content-left h2 {
  padding-top: 212px;
  font-weight: bold;
  font-size: 35px;
  margin-left: 20px;
  margin-bottom: 38px;
}
.content-left p {
  padding-bottom: 110px;
  max-width: 520px;
  margin-left: 45px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

.content-left__info {
  max-width: 580px;
  margin: 0 15px;
}

.registration-form {
  margin-top: 100px;
  max-width: 610px;
  margin-left: 35px;
}
.registration-form h2 {
  padding-top: 55px;
  padding-bottom: 14px;
  font-size: 23px;
  word-spacing: 0;
  letter-spacing: 0.45px;
}
.registration-form label {
  font-size: 15px;
  padding-left: 1px;
}

input {
  width: 590px;
  height: 52px;
  background-color: #ffffff;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
}

.form-group {
  margin-top: 20px;
}
.form-group a {
  color: #337ab7;
}
.form-group a::after {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background: url("../img/icons/required.png") 0 0/100% no-repeat;
}

input[type=checkbox] {
  /* Задаємо властивості для checkbox */
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin-top: -3px;
}

input::placeholder {
  padding-left: 17px;
}

input[type=text]:invalid:not(:placeholder-shown) {
  box-shadow: inset 0 0 13px 0 rgba(228, 106, 106, 0.74);
  padding-left: 20px;
}

input[type=tel]:invalid:not(:placeholder-shown) {
  box-shadow: inset 0 0 13px 0 rgba(228, 106, 106, 0.74);
  padding-left: 20px;
}

input[type=email]:invalid:not(:placeholder-shown) {
  box-shadow: inset 0 0 13px 0 rgba(228, 106, 106, 0.74);
  padding-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.fname {
  padding-bottom: 3px;
}
.fname::after {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background: url("../img/icons/required.png") 0 0/100% no-repeat;
}

.lname {
  padding-top: 10px;
  padding-bottom: 2px;
}
.lname::after {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background: url("../img/icons/required.png") 0 0/100% no-repeat;
}

.post {
  padding-top: 10px;
  padding-bottom: 2px;
}
.post::after {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background: url("../img/icons/required.png") 0 0/100% no-repeat;
}

.phone {
  padding-top: 10px;
  padding-bottom: 2px;
}
.phone::after {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background: url("../img/icons/required.png") 0 0/100% no-repeat;
}

.email {
  padding-top: 9px;
  padding-bottom: 3px;
}
.email::after {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background: url("../img/icons/required.png") 0 0/100% no-repeat;
}

.course-outline {
  height: 561px;
  margin-left: -20px;
}
.course-outline h2 {
  padding-top: 75px;
  padding-left: 428px;
  font-size: 35px;
  position: relative;
}

.course-outline__list {
  display: flex;
  justify-content: center;
}

.list__item {
  display: flex;
  flex-direction: column;
}
.list__item .course-img {
  margin: 45px auto 24px auto;
  width: 82px;
  height: 82px;
}
.list__item h3 {
  font-size: 23px;
  letter-spacing: 0.95px;
  font-weight: 100;
}

.list__item_start {
  width: 350px;
  margin-left: 28px;
}
.list__item_start h3 {
  padding-bottom: 20px;
  margin-bottom: 34px;
  border-bottom: 1px solid #337ab7;
}
.list__item_start p {
  text-align: center;
  line-height: 23px;
}

.list__item_middle {
  width: 325px;
  margin-left: 70px;
}
.list__item_middle h3 {
  padding-bottom: 20px;
  border-bottom: 1px solid #337ab7;
  margin-bottom: 34px;
}
.list__item_middle p {
  text-align: center;
  line-height: 23px;
}

.list__item_end {
  margin-left: 70px;
  width: 350px;
}
.list__item_end h3 {
  padding-bottom: 20px;
  margin-bottom: 34px;
  border-bottom: 1px solid #337ab7;
}
.list__item_end p {
  text-align: center;
  line-height: 23px;
}

.statistics {
  height: 310px;
  background: #3498db;
}
.statistics p {
  color: white;
}

.statistics__list {
  display: flex;
}

.statistic__item {
  display: flex;
  flex-direction: column;
  width: 405px;
}
.statistic__item img {
  margin-top: 80px;
  margin-left: 112px;
  width: 80px;
  height: 60px;
}

.statistic-quantity {
  margin-left: 130px;
  margin-top: 30px;
  font-size: 27px;
}

.statistic-description {
  margin-top: 16px;
  margin-left: 77px;
}

.statistic-description_small-padding {
  margin-left: 10px;
}

.statistic-quantity_big-padding {
  margin-left: 136px;
}

.testimonials {
  height: 525px;
}
.testimonials h2 {
  margin: 77px 0 37px 325px;
  font-size: 36px;
  max-width: 1220px;
}
.testimonials .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials .slick-dots li {
  margin: 0 7px;
}
.testimonials .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background: #666666;
  border-radius: 50%;
}

.quotes {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}
.quotes::before {
  content: "";
  position: absolute;
  height: 46px;
  width: 46px;
  top: -20px;
  left: 3px;
  background: url("../img/quotes-before.png") 0 0/100% no-repeat;
}
.quotes::after {
  position: absolute;
  content: "";
  height: 46px;
  width: 46px;
  bottom: -8px;
  right: 4px;
  background: url("../img/quotes-after.png") 0 0/100% no-repeat;
}

.testimonial__text {
  text-align: center;
  margin: 0 auto;
  max-width: 870px;
  font-size: 22px;
  line-height: 38px;
}

.testimonial__people {
  text-align: center;
}
.testimonial__people p:first-child {
  margin-top: 27px;
  font-size: 21px;
}
.testimonial__people p:last-child {
  margin-top: 5px;
  margin-bottom: 100px;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.video {
  height: 865px;
  background: #f7f7f7;
}
.video h2 {
  padding-top: 78px;
  padding-left: 565px;
  font-size: 35px;
}
.video p {
  margin-top: 35px;
  padding-left: 10px;
  line-height: 24px;
  font-size: 18px;
  text-align: center;
}

.video__link iframe {
  width: 1020px;
  height: 520px;
  margin-top: 27px;
  margin-left: 100px;
}

.mentors {
  height: 615px;
}
.mentors h2 {
  padding-left: 492px;
  padding-top: 82px;
  font-size: 36px;
}
.mentors .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mentors .slick-dots li {
  margin: 0 7px;
}
.mentors .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background: #666666;
  border-radius: 50%;
}

.human {
  display: flex;
}
.human img {
  margin-left: 75px;
  margin-top: 10px;
  height: 356px;
  width: 337px;
}

.human__info {
  margin-left: 106px;
}
.human__info p {
  line-height: 25px;
}
.human__info h3 {
  margin-top: 42px;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #337ab7;
}

.paragraph-bottom {
  margin-bottom: 8px;
}

.paragraph-bigger {
  margin-bottom: 10px;
}

.map {
  height: 400px;
}
.map iframe {
  height: 100%;
  width: 100%;
}

.contact-form {
  height: 198px;
  background: #3498db;
}
.contact-form a {
  color: white;
  font-size: 14px;
  margin-top: -5px;
}
.contact-form h3 {
  color: white;
}

.contact-form__list {
  display: flex;
}

.contact-form__item {
  width: 405px;
  text-align: center;
}
.contact-form__item img {
  margin: 40px auto 20px auto;
  height: 54px;
  width: 67px;
}

footer {
  height: 155px;
  background: #f7f7f7;
}
footer a {
  color: #dedfe0;
}