%spanwhite{
  span{
    color: white;
  }
}

/* padding*/
@mixin pad(){
  padding-top: 10px;
  padding-bottom: 2px;
}

/* box shadow red*/
@mixin bsr{
  box-shadow: inset 0 0 13px 0 rgba(228,106,106,0.74);
}

/* box shadow blue*/
@mixin bsb{
  box-shadow: inset 0 0 1px 1px #3393FF;
}

/* padding left*/
@mixin padl{
  padding-left: 20px;
}

/* star for registration form*/
@mixin star{
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background: url("../img/icons/required.png") 0 0/100% no-repeat;
}

/* width + border bottom*/
@mixin wbb{
  width: 33.33%;
  h3{
    padding-bottom: 20px;
    margin-bottom: 34px;
    border-bottom: 1px solid #337ab7;
  }
}

/* paragraph */
@mixin parag{
  p{
    text-align: center;
    line-height: 23px;
  }
}

/* quotes medium*/
@mixin qm{
  width: 30px;
  height: 30px;
}

/*quotes styles*/
@mixin qs{
  position: absolute;
  content: '';
  height: 46px;
  width: 46px;
}

/* quotes small*/
@mixin qsm{
  width: 24px;
  height: 24px;
}


/* centering */
@mixin center{
  display: flex;
  justify-content: center;
}

$size :10px;
$s :11px;

/*margin top and left*/
@mixin mtl($size,$s){
  margin-top: $size;
  margin-left: $s;
}

/*margin right and left*/
@mixin mrl($size,$s){
  margin-right: $size;
  margin-left: $s;
}
