.content{
  background: #f7f7f7;
  .container{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    .content-left{
      margin-top: 100px;
      max-width: 610px;
      height: 670px;
      .content-left__info{
        max-width: 580px;
        margin-left: 50px;
        h2{
          padding-top: 212px;
          font-weight: bold;
          font-size: 35px;
          margin-bottom: 38px;
          text-align: center;
          letter-spacing: 1px;
        }
        p{
          padding-bottom: 110px;
          max-width: 520px;
          font-size: 18px;
          line-height: 32px;
          font-weight: 500;
          color: #7C7C81;
          text-align: center;
          letter-spacing: 0.030em;
        }
      }
    }
    .registration-form{
      margin-top: 100px;
      max-width: 610px;
      margin-left: 10px;
      h2{
        padding-top: 55px;
        padding-bottom: 14px;
        font-size: 24px;
        word-spacing: 0;
        letter-spacing: 0.45px;
      }
      label{
        font-size: 15px;
        padding-left: 1px;
      }
      input{
        width: 590px;
        height: 52px;
        background-color: #ffffff;
        border: 1px solid #c3c3c3;
        border-radius: 3px;
        padding: 17px;
      }

      input[type=text]:invalid:not(:focus):not(:placeholder-shown){
        @include bsr;
        @include padl;
      }
      input[type=text]:focus{
        @include bsb;
      }

      input[type=tel]:invalid:not(:focus):not(:placeholder-shown){
        @include bsr;
        @include padl;
      }

      input[type=tel]:focus{
        @include bsb;
      }

      input[type=email]:invalid:not(:focus):not(:placeholder-shown){
        @include bsr;
        @include padl;
      }

      input[type=email]:focus{
        @include bsb;
      }

      form{
        display: flex;
        flex-direction: column;
      }
      .fname{
        padding-bottom: 3px;
        &::after{
          @include star;
        }
      }
      .lname{
        @include pad;
        &::after{
          @include star;
        }
      }
      .post{
        @include pad;
        &::after{
          @include star;
        }
      }
      .phone{
        @include pad;
        &::after{
          @include star;
        }
      }
      .email{
        padding-top: 9px;
        padding-bottom: 3px;
        &::after{
          @include star;
        }
      }
      .form-group{
        margin-top: 20px;
        a{
          color: black;
          span{
            color: #337ab7;
          }
        }
        a::after{
          @include star;
        }
        input[type=checkbox] {
          /* Задаємо властивості для checkbox */
          width:13px;
          height: 13px;
          vertical-align: middle;
          margin-top: -3px;
        }
      }
      button{
        border-radius: 25px;
        width: 370px;
        height: 50px;
        background: #337ab7;
        margin-top: 32px;
        margin-left: 110px;
        @extend %spanwhite;
      }
    }
  }
}



