.course-outline{
  height: 561px;
  h2 {
    padding-top: 75px;
    text-align: center;
    font-size: 35px;
    letter-spacing: 0.8px;
    margin-left: 13px;
  }
  &__list{
    .slick-list {
      display: flex;
      justify-content: center;
      .slick-track {
        display: flex;
        justify-content: center;
        .list__item {
          &:first-child{
            @include mrl(50px,20px);
          }
          &:last-child{
            @include mrl(0,50px);
          }
          display: flex;
          flex-direction: column;
          @include mrl(30px,14px);
          @include wbb;
          @include parag;
          .course-img {
            margin: 45px auto 24px auto;
            width: 82px;
            height: 82px;
          }
          h3 {
            font-size: 23px;
            letter-spacing: 0.95px;
            font-weight: 100;
            text-align: center;
          }
          p {
            color: #a0a0a0;
          }
        }
      }
    }
  }
}