.course-outline{
  height: 561px;
  h2 {
    padding-top: 75px;
    text-align: center;
    font-size: 35px;
    letter-spacing: 0.8px;
    margin-left: 13px;
  }
  .course-outline__list{
    .slick-list {
      display: flex;
      justify-content: center;
      .slick-track {
        display: flex;
        justify-content: center;
        .list__item {
          &:first-child{
            margin-right: 50px;
            margin-left: 20px;
          }
          &:last-child{
            margin-right: 0;
            margin-left: 50px;
          }
          display: flex;
          flex-direction: column;
          margin-right: 30px;
          margin-left: 14px;
          @include wbb;
          @include parag;
          .course-img {
            margin: 45px auto 24px auto;
            width: 82px;
            height: 82px;
          }
          h3 {
            font-size: 23px;
            letter-spacing: 0.95px;
            font-weight: 100;
            text-align: center;
          }
          p {
            color: #a0a0a0;
          }
        }
        .list__item_middle {
          width: 33.33%;
        }
      }
    }
  }
}