header{
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
  z-index: 10000;
  position: fixed;
  background: white;
  width: 100%;
  .container{
    height: 100px;
    display: flex;
    justify-content: space-between;

  }
}

.header__menu{
  display: flex;
}

.header__list{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  /*&:hover{
    background: #f7f7f7;
    a{
      color: #337ab7;
    }
  }*/
  a{
    font-size: 15px;
    color: black;
    font-weight: 100;
    &:hover{
      background: #f7f7f7;
      color: #337ab7;
    }
  }
}
.header__list a{
  padding-right: 40px;
  &:last-child{
    padding-right: 20px;
  }
}

.application{
  background: #337ab7;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 20px;
  color: black;
}

.application_without-padding{
  padding-right: 0;
  @extend %spanwhite;
}

.logo img{
  height: 82px;
  width: 82px;
  margin-top: 9px;
}