header{
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
  z-index: 10000;
  position: fixed;
  background: white;
  width: 100%;
  .container{
    width: 1220px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    .logo img{
      height: 80px;
      width: 80px;
      margin-top: 10px;
      position: fixed;
      z-index: 10;
    }
    .header__menu{
      display: flex;
      .header__list{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        a{
          display: block;
          padding: 20px;
          font-size: 15px;
          color: black;
          font-weight: 100;
          letter-spacing: 0.33px;
          &:hover{
            background: #337ab7;
            border-radius: 30px;
            display: inline-block;
            padding: 10px 20px;
            color: white;
          }
        }
      }
      .header__button{
        display: none;
      }
    }
  }
}


