header{
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .8);
  z-index: 10000;
  position: fixed;
  background: white;
  width: 100%;
  .container{
    height: 100px;
    display: flex;
    justify-content: space-between;

  }
}

.header-list{
  display: flex;
}

.header__item{
  padding-right: 40px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: 100;
  font-size: 14px;
}

.header__item_without-padding{
  padding-right: 0;
  @extend %spanwhite;
}

.application{
  background: #337ab7;
  border-radius: 30px;
  display: inline-block;
  padding: 10px 20px;
  color: black;
}

.logo img{
  height: 82px;
  width: 82px;
  margin-top: 9px;
}