.mentors{
  height: 615px;
  padding-left: 20px;
  h2{
    padding-left: 492px;
    padding-top: 82px;
    font-size: 36px;
    letter-spacing: 1px;
  }
  &__list{
    .human{
      display: flex;
      img{
        @include mtl(10px,75px);
        height: 356px;
        width: 337px;
      }
      &__info{
        margin-left: 106px;
        p{
          line-height: 25px;
          color: #a0a0a0;
        }
        h3{
          margin-top: 42px;
          margin-bottom: 50px;
          font-size: 22px;
          font-weight: bold;
          color: #337ab7;
          letter-spacing: 1px;
        }
        .paragraph-bottom{
          margin-bottom: 8px;
        }
        .paragraph-bigger{
          margin-bottom: 10px;
        }
      }
    }
  }
}



