@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap');
@font-face {
  font-family: 'Open Sans';
}

@import "mixin.scss";

body{
  height: 100%;
  line-height: 22px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

main{
  flex: 1 1 auto;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container{
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

/*slick style*/
.slick-track{
  display: flex;
  flex-direction: row;
}

.slick-slider {
  display: block;
  overflow: hidden;
}

.slick-list {
  overflow: hidden;
}
.slick-dots{
  @include center;
  align-items: center;
}
.slick-dots li{
  margin: 0 7px;
}
.slick-dots button{
  font-size: 0;
  width: 12px;
  height: 12px;
  background: #666666;
  border-radius: 50%;
}

@import "header.scss";
@import "content.scss";
@import "course-outline.scss";
@import "statistics-block.scss";
@import "testimonials.scss";
@import "video.scss";
@import "mentors.scss";
@import "map.scss";
@import "contact-form.scss";
@import "footer.scss";
@import "adaptive.scss";

