@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap');
@font-face {
  font-family: 'Open Sans';
}


body{
  height: 100%;
  line-height: 22px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

main{
  flex: 1 1 auto;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container{
  max-width: 1220px;
  margin: 0 auto;
}

%spanwhite{
  span{
    color: white;
  }
}

@mixin pad(){
  padding-top: 10px;
  padding-bottom: 2px;
}

@mixin bsr{
  box-shadow: inset 0 0 13px 0 rgba(228,106,106,0.74);
}
@mixin bsb{
  box-shadow: inset 0 0 1px 1px #3393FF;
}
@mixin padl{
  padding-left: 20px;
}
@mixin star{
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background: url("../img/icons/required.png") 0 0/100% no-repeat;
}

@mixin wbb{
  width: 350px;
  h3{
    padding-bottom: 20px;
    margin-bottom: 34px;
    border-bottom: 1px solid #337ab7;
  }
}

@mixin parag{
  p{
    text-align: center;
    line-height: 23px;
  }
}
@import "header.scss";
@import "content.scss";
@import "course-outline.scss";
@import "statistics-block.scss";
@import "testimonials.scss";
@import "video.scss";
@import "mentors.scss";
@import "map.scss";
@import "contact-form.scss";
@import "footer.scss";


