.testimonials{
  height: 525px;
  padding-left: 20px;
  h2{
    margin: 77px 25px 37px 0;
    letter-spacing: 0.7px;
    text-align: center;
    font-size: 36px;
  }
  .quotes{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    .testimonial__text{
      text-align: center;
      margin: 0 auto;
      max-width: 870px;
      font-size: 22px;
      line-height: 38px;
      color: #a0a0a0;
    }
    &::before{
      @include qs;
      top: -20px;
      left: -8px;
      background: url('../img/quotes-before.png') 0 0 / 100% no-repeat;
    }
    &::after {
      @include qs;
      bottom: -8px;
      right: 4px;
      background: url('../img/quotes-after.png') 0 0 / 100% no-repeat;
    }
  }
  .testimonial__people{
    text-align: center;
    p:first-child{
      margin-top: 27px;
      font-size: 21px;
    }
    p:last-child{
      margin-top: 5px;
      margin-bottom: 100px;
      color: #a0a0a0;
    }
  }
}


