.video{
  height: 865px;
  background: #f7f7f7;
  h2{
    padding-top: 78px;
    padding-left: 565px;
    font-size: 35px;
  }
  p{
    margin-top: 35px;
    padding-left: 10px;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    color: #a0a0a0;
  }
}

.video__link iframe{
  width: 1020px;
  height: 520px;
  display: block;
  margin: 27px auto 0 auto;
}